<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Data List </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input
        placeholder="Search Name"
        [(ngModel)]="search.name"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select placeholder="Select Gender" [(ngModel)]="search.gender">
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="Female">Female</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button (click)="searchFn()" expand="block" fill="solid" shape="round">
      Search
    </ion-button>
  </ion-list>
  <ion-list>
    <ion-item-sliding *ngFor="let data of datas;let i = index">
      <ion-item (click)="editData(i)">
        <ion-text>
          <p>Name : {{data.salutation}}{{data.name}}</p>
          <p>IC : {{data.icNumber}}</p>
          <p>Gender : {{data.gender}}</p>
        </ion-text>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="delete(i)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
