<ion-header>
  <ion-toolbar>
    <ion-title>Editing Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input
          formControlName="name"
          type="text"
          placeholder="Insert your name"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="form.controls.name.invalid && (form.controls.name.dirty || form.controls.name.touched)"
        style="margin-bottom: 10px; margin-left: 16px; margin-top: 10px"
      >
        <div *ngIf="form.controls.name.errors?.required">Name is required.</div>
      </div>
      <ion-item>
        <ion-label position="stacked">IC Number</ion-label>
        <ion-input
          formControlName="ICNumber"
          type="text"
          maxlength="12"
          placeholder="Insert your IC Number (without dash)"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="form.controls.ICNumber.invalid && (form.controls.ICNumber.dirty || form.controls.ICNumber.touched)"
        style="margin-bottom: 10px; margin-left: 16px; margin-top: 10px"
      >
        <div *ngIf="form.controls.ICNumber.errors?.required">
          IC Number is required.
        </div>
        <div *ngIf="form.controls.ICNumber.errors?.minlength">
          IC Number must be more than 12
        </div>
        <div *ngIf="form.controls.ICNumber.errors?.maxlength">
          IC Number must be less than 13
        </div>
      </div>
      <ion-item>
        <ion-label position="stacked">Salutation</ion-label>
        <ion-select
          formControlName="salutation"
          placeholder="Select Salutation"
        >
          <ion-select-option value="Mr.">Mr.</ion-select-option>
          <ion-select-option value="Ms.">Ms.</ion-select-option>
          <ion-select-option value="Mrs.">Mrs.</ion-select-option>
          <ion-select-option value="Dato.">Dato</ion-select-option>
        </ion-select>
      </ion-item>
      <div
        *ngIf="form.controls.salutation.invalid && (form.controls.salutation.dirty || form.controls.salutation.touched)"
        style="margin-bottom: 10px; margin-left: 16px; margin-top: 10px"
      >
        <div *ngIf="form.controls.salutation.errors?.required">
          Salutation is required.
        </div>
      </div>
      <ion-radio-group formControlName="gender">
        <ion-list-header>
          <ion-label> Gender </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Male</ion-label>
          <ion-radio value="Male"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Female</ion-label>
          <ion-radio value="Female"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <div
        *ngIf="form.controls.gender.invalid && (form.controls.gender.dirty || form.controls.gender.touched)"
        style="margin-bottom: 10px; margin-left: 16px; margin-top: 10px"
      >
        <div *ngIf="form.controls.gender.errors?.required">
          Gender is required.
        </div>
      </div>
      <ion-item>
        <ion-label position="stacked">Nationality</ion-label>
        <ion-select
          formControlName="nationality"
          placeholder="Select Nationality"
        >
          <ion-select-option value="Malaysia">Malaysia</ion-select-option>
          <ion-select-option value="Indonesia">Indonesia</ion-select-option>
          <ion-select-option value="Singapore">Singapore</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="form.controls.nationality.value == 'Malaysia'">
        <ion-label position="stacked">Race</ion-label>
        <ion-select formControlName="race" placeholder="Select Race">
          <ion-select-option value="Malay">Malay</ion-select-option>
          <ion-select-option value="Chinese">Chinese</ion-select-option>
          <ion-select-option value="Indian">Indian</ion-select-option>
          <ion-select-option value="Others">Others</ion-select-option>
        </ion-select>
      </ion-item>
      <div
        *ngIf="form.controls.race.invalid && (form.controls.race.dirty || form.controls.race.touched)"
        style="margin-bottom: 10px; margin-left: 16px; margin-top: 10px"
      >
        <div *ngIf="form.controls.race.errors?.required">Race is required.</div>
      </div>
    </ion-list>
    <ion-button (click)="submit()" expand="block" shape="round">
      Submit Form
    </ion-button>
  </form>
</ion-content>
